<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>
<body>
    <div class="course-detail" >
        <div class="course-detail-body">
            <h1 class="course-detail-title"><%= course.name %></h1>
            <p class="course-detail-text description"><%= course.description %></p>
        </div>
        <img src="<%= course.url %>" class="card-img-top image" alt="...">
    </div>
</body>
</html>