<form method="post" action="/courses/store">
     <span>Name</span>
     <input type="text" class="name">
     <span>Description</span>
     <input type="text" class="description">
     <span>Image</span>
     <input type="text" class="url">
     <button type="submit">Tạo mới</button>
</form>